body{
    overflow-x: hidden;
}
.nav-link{
    color: white !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar-brand img{
    width: 80px;
}

.navbar{
    background-color: #9f9f9f !important;
}

.nav-item{
    margin-left: 20px;
}

.carrinho{
    position: absolute;
    right: 20px;
}

.btn-secondary{
    position: absolute;
    top: 50%;
}

.pecas{
    width: 250px;
    
}

.pecas:hover {
   cursor: pointer;
    width: 255px;
  
}