
body{
    background-color: 	#9f9f9f;
    overflow-y: hidden;
    
}
button{
    background-color: aquamarine;
}
button  a {
    text-decoration:none;
    color: black;
}
.logo{
    width: 50px;
    height: 50px;
    background-image: url(../fotos/logo.png);
    background-position: center;
    background-size: cover;
    background-color: #9f9f9f;
    color: whitesmoke;
}
